.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #ffd400;
    color: #16479d;
}

.dog {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    margin-right: 0.5em;
}

.navbar-toggler {
    background-color: #ffd400;
    color: #16479d;
}

.navbarLi {
    cursor: pointer;
}

.navbarLi:hover {
    background-color: #16479d;
    color: #fff;
}

.navbarLink {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 576px) {
    .navbar-collapse {
        background-color: #ffd400;
        color: #16479d;
        position: absolute;
        top: 100%;
        left: 2px;
        width: 100px;
    }
}